doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, uset-scalabel=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet")
        link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
        link(rel="manifest" href="img/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="img/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet", href="css/styles.css")
        title Туристична компанія Sea Trips, морські пригоди - обери свій план подорожі. Гарячі путівки, великий вибір країн.
        //- паддінги вручну, на кнопку скачать більший паддінг, для велосипеда задати на фото батьківський конт і до нього прицепити блок з велочипедом, зменшити відступи на коментарях, збільшити паддінги
    body
        include components/mixins
        header 
            nav.navbar.navbar-expand-lg.bcg-nav.container.pb-5.navbar-dark
                .container.d-flex.justify-content-between.gap-3.py-5
                    a.navbar-brand.logo(href='#') 
                        img(src="img/logo.png", alt="")
                    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse#navbarSupportedContent
                        ul.navbar-nav.me-auto.mb-2.mb-lg-0.flex-shrink-1.pt-3
                            li.nav-item.ps-3
                                a.nav-link.color(aria-current='page', href='#') головна      
                            li.nav-item.ps-3
                                a.nav-link.color(href='#company') послуги     
                            li.nav-item.ps-3
                                a.nav-link.color.nowrap-nav(href='#company') про компанію     
                            li.nav-item.ps-3
                                a.nav-link.color(href='#special') акції     
                            li.nav-item.ps-3
                                a.nav-link.color(href='#') партнери      
                            li.nav-item.ps-3
                                a.nav-link.color(href='#recencion') відгуки      
                            li.nav-item.ps-3
                                a.nav-link.color(href='#contacts') контакти
            .main-container.border-main.container-fluid.text-center.mx-auto.py-5
                h1 Морські пригоди
                p.d-block.mx-auto.mb-0 Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
                a.cta.my-4.first-cta(href="#") детальніше
            .container.scroll-bottom-block.text-center.py-5.mx-auto
                h2.mx-auto.py-5 обери свій план подорожі
                p.pb-3 Наша фірма -лідер на ринку у своїй сфері
                a.double-arrow.pb-5(href="#cardfirst")
        main
            section.card-first.container#cardfirst
                .row.container#company.mx-auto.m-0
                    .about-company.col-lg-3
                        h2 про нашу компанію
                        p Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                        a.cta.mt-4(href="#") детальніше
                        p.note.py-3 * - зверніть увагу, зміна ціни може залежати від курсу долара.
                    .col
                        .row.d-flex.justify-content-center.align-center.gy-4
                            .proposition.col.col-md-4
                                +card(firstCard.velosport)
                            .proposition.col.col-md-4
                                +card(firstCard.excursion)
                            .proposition.col.col-md-4
                                +card(firstCard.special)
                                a(href="#") 
                            .text-center
                                a.plan.text-center(href="#") дивитись усі плани
            hr.container.py-4
            section.container.my-5
                .row
                    .montain.col-lg-4.me-3
                        picture
                            img.img-fluid.w-100.mb-5(src="img/island.webp", alt="")
                    .descript-text.col
                        h2 Дивовижний безлюдний острів, який зводить людей з розуму
                        .row
                            .tour.col-md-8
                                p.py-4 Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                                .d-flex
                                    button.cta.me-2(type="submit") замовити тур
                                    a.btn.me-2(href="#") детальніше
                            .price-tour-box.col-md-4.p-2.m-lg-0.mx-auto.m-4.p-2.text-center
                                p.price-tour.my-2 575 грн./день
                                p В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.
            section.container-fluid.sea-bcg.py-5
                .container.py-5#recencion
                    .row.gap.pb-4
                        .col-md
                            p.cl-white.mb-0 СПІЙМАЙ ХВИЛЮ
                            p.cl-blue ЖИВИ ЯСКРАВО!
                            p.serf-block Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!
                            a.cta(href="#") детальніше
                        .col-md.border-box
                            .lapki
                                picture 
                                    img(src="img/lapki.svg", alt="Мрієш стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені інструктори навчать тебе вміло «піймати хвилі» та відчути себе справжнім сьорфером!")
                                //- svg(xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" viewBox="0 0 8 8" id="double" fill="#ffb700")
                                //-     path(d="M0 1v3h2c0 1.11-.89 2-2 2v1c1.65 0 3-1.35 3-3V1H0zm5 0v3h2c0 1.11-.89 2-2 2v1c1.65 0 3-1.35 3-3V1H5z")
                            p.descript.my-4.p-5 Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють спражні професіонали своєї справи. 
                            .text-center.client-box
                                p.name-client.m-0 Олег Набережний
                                p.client клієнт
                                picture 
                                    img.client-photo(src="img/client.webp", alt="")
            section.container.my-5
                .week-proposition.text-center#special
                    h2 Спеціальні пропозиції тижня
                    p Гарячі праозиції, по-швидше обирай і поїхали!
                .row.py-5.d-flex.justify-content-center.align-center
                    .col-sm-6.col-lg-3.my-2.lastcard-service
                        +serviceCard(cardService.romantic)
                    .col-sm-6.col-lg-3.my-2.lastcard-service
                        +serviceCard(cardService.velotour)
                    .col-sm-6.col-lg-3.my-2.lastcard-service
                        +serviceCard(cardService.islandtour)
                    .col-sm-6.col-lg-3.my-2.lastcard-service
                        +serviceCard(cardService.serf)
            hr.container.mb-5
            section.files.container.mb-5#contacts
                .row.container-fluid.gy-2.m-0.d-flex.justify-content-center.align-center.question-block
                    .col-sm-12.col-lg
                        p.info додаткова інформація
                    .col-sm.col-lg.house.p-3.mb-3.mx-2
                        +cardSave(fileSave.grafic)
                    .col-sm.col-lg.people.p-3.mb-3.mx-2
                        +cardSave(fileSave.food)
                    .col-sm.col-lg.text-center.contacts.mb-3.mx-2
                        p.quetion задати питання
                        p.text-quetion Скажіть доброго дня нашому консультанту, і ми з радістю відповімо на Ваші запитання
                        a.phone(href="tel:+380505698511") +38 (050) 56 98 511
                            svg.svg-phone(xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" viewBox="0 0 24 24" id="phone")
                                path(fill="none" d="M0 0h24v24H0V0z")
                                path(d="M19.23 15.26l-2.54-.29c-.61-.07-1.21.14-1.64.57l-1.84 1.84c-2.83-1.44-5.15-3.75-6.59-6.59l1.85-1.85c.43-.43.64-1.03.57-1.64l-.29-2.52c-.12-1.01-.97-1.77-1.99-1.77H5.03c-1.13 0-2.07.94-2 2.07.53 8.54 7.36 15.36 15.89 15.89 1.13.07 2.07-.87 2.07-2v-1.73c.01-1.01-.75-1.86-1.76-1.98z")
                        .client-box
                            p.name-bottom.pt-2.m-0 Анна Миколаївна
                            p.client консультант
                            picture
                                img.client-photo-bottom.p-0(src="img/bottomclient.webp", alt="")
        footer
            .bottom-bcg.mx-auto.p-0.container-fluid 
                picture 
                    img.img-fluid.w-100.palm(src="img/footerfoto.webp", alt="")
            .footer.text-center.p-2
                p.copyright.m-2 &copy 2016 Cars.com All rights reserved.
    script(src="js/scripts.js")